*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}

header {
    width: 90%;
    
}

header a {
    color: #111111;
    text-decoration: none;
    font-size: 3rem;
    padding-left: 100px;
    
}


.hero-section {
    min-height: 120vh;
    background-image: url(../img/image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px;
    
}

.hero-text {
    padding-top: 250px;
    color: #fff;
}

.hero-text h3 {
    font-size: 3.75rem;
    font-weight: 300;
    font-style: normal;  
}

.hero-text h1 {
    font-size: 6rem;
    font-weight: 900;
}

.hero-section hr {
    height: 10px;
    background: #fff;
    border: none;
}

.hero-section .hero-images,
.hero-section hr {
    margin-top: 20px;
    width: 60%;
}

 .hero-section .hero-icon {
     
     width: 45%;
     padding: 18px;
     
 }

 .hero-section .icon-tools {
    height: 8rem;
    width: 8rem;
    display: flex;
    padding: 20px;
 }

 .hero-section p {
    display: flex;
    /* padding-top: 160px; */
    letter-spacing: 2px;
    width: 38%;
    position: absolute;
    margin: 100px 0;
 }

.services-section {
    background-color: #f2f2f2;
    text-align: center;
    padding: 100px;
}

.services-section h6 {
    padding-top: 70px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #999999;
}

.services-section h3 {
    font-weight: 700;
    font-size: 3.125rem;
    width: 780px;
    margin: 2px auto 0;
}

.services-section p {
    font-size: 1.25rem;
    font-weight: 300;
    width: 780px;
    margin: 30px auto 0;
    color: #111111;
}

button {
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    margin: 30px auto 60px;
    padding: 16px 36px;
    color: #fff;
    background: #e71a23;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}


.help-section {
    /* margin: 10rem 17rem; */
  padding: 100px;
  
}

.help-section .working-one {
    width: 49%;
}

.help-section .working-one img {
    width: 100%;
}

.working-one h2 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 0;
    padding-bottom: 14px;
   
}

.working-one .call-red{
    margin-bottom: 30px;
    color: #e71a23;
    font-size: 1.875rem; 
}

.working-one p {
    margin-top: 30px;
    color: #111111;
    padding-top: 14px;
    
}

.quality-section {
    background: #bdb8b8;
    
}

.quality-section .quality-img img {
    width: 500px;
}

.quality-section .quality-img {
    width: 50%;
    background-image: url(../img/image-4.png);
    background-repeat: no-repeat;
    height: 640px;
    background-size: contain;
    background-position: center;
    
}

.quality-section .quality-text {
    width: 50%;
    margin-top: 100px;
    
}

.quality-section .quality-text hr {
    height: 9px;
    background-color: red;
    border: none;
    width: 83%;
    margin: 30px 0;
}


.quality-text h2 {
    color: #104e92;
    font-size: 4.5rem;
    font-weight: 700;
    /* margin: 135px 0 0; */
}

.quality-section .quality-text p {
    color: #111111;
    font-size: 1.125rem;
    margin: 30px 0 0;
    width: 70%;
    
}

.render-section {
    padding: 100px;
    /* width: 80%;
   margin-left: 10%; */
  
}

.render-section h1 {
    padding-bottom: 50px;
    font-size: 3.125rem;
    text-transform: capitalize;
}

.render-section .icon-box {
    height: 83px;
    width: 83px;
    background: red;
    padding: 18px;
    display: flex;
    border-radius: 100%;
   
}

.render-section .working-two h4 {
    font-weight: 700;
    margin: 20px 0 0;
    font-size: 1.5rem;
}

.render-section .working-two p {
    font-size: 1.125rem;
    font-style: italic;
    margin: 20px 0 0;
    color: #111111;
}

.render-section .render-imgs .working-two {
    /* width: 25%; */
    width: 30%;
}



.about-us {
    color: #ffffff;
    background-color: #104e92;
    padding: 100px 0;
    
}

.about-us .about-text {
    
    padding-left: 8%;
    padding-top: 80px;
    padding-right: 30px;
}

.about-us h5 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.125rem;
}

.about-us  .about-text h1 {
    font-size: 5.7rem;
    line-height: 1;
}

.about-us .about-text h2 {
    font-size: 6rem;
    line-height: 1;
    font-weight: lighter;
}

.about-us .about-text, .about-us .about-imgs {
    width: 100%;
}

.about-us .about-imgs img {
    width: 100%;
    height: 100%;
}

.about-us .about-imgs {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 8%;
}

.about-us .about-imgs .about-img {
    width: 48%;
    margin-bottom: 30px;
}

.todo-section {
    text-align: center;
    padding: 100px;
   
}

.todo-section h2 {
    font-weight: 700;
    font-size: 2.25rem;
}

.todo-section p {
    font-size: 1.875rem;
    /* font-weight: 300; */
    margin: 30px 0 0;
    color: #111111;
}

input {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 16px 53px 16px 52px;
    color: #454545;
    cursor: pointer;
    background-color: transparent !important;
}


@media (max-width: 769px) {
.hero-section {
    background-position: 34.74% 0%;
    padding: 29px;
}

    .hero-text h3 {
        font-size: 2.75rem;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    .hero-section .hero-images, .hero-section hr{
        width: 58%;
    }

    .services-section {
        padding: 83px;
    }

    .services-section h3 {
        font-size: 2.860rem;
        width: 90%;
    }

    .services-section p {
        width: 90%;
    }

    .flex-column {
        flex-direction: column;
    }
    .help-section {
        padding: 68px;
        
    }

    .help-section .working-one {
        width: 90%;
    }
    .help-section .working-one p {
        padding-bottom: 68px;
        width: 89%;
    }

    .quality-text h2 {
        font-size: 3.125rem;
    }

    .quality-section .quality-img {
     background-position: bottom;
     background-size: cover;
     height:  635px;
     width: 50%;
     padding: 30px;
    }

    .quality-section .quality-text {
        /* margin-left: 30px; */
        width: 47%;
     
    }

    .quality-section .quality-text p{
        width: 18rem;
    }

    .render-section {
        padding: 40px;
    }

    .about-us {
        padding: 30px;
    }

    .about-us .flex-column{
        flex-direction: column;
    }

    .about-us .about-text {
        margin-bottom: 20px;
        padding: 37px 0;
    }

    .about-us .about-text .changes {
        display: flex;
    font-size: 4.5rem;
    margin: 10px 0 0;
    }

    .about-us .about-text .changes b {
        padding-left: 20px;
    }

    .about-us .about-text h2, h1 {
        flex-direction: row;
    }

    .about-us .about-imgs  {
        width: 100%;
        height: 102%;
        padding: 0;
    }

    .todo-section h2 {
        width: 90%;
    }

    .todo-section p {
        width: 115%;
        margin-bottom: 20px;
    }
}

@media (max-width: 426px) {
    header a {
        padding-left: 36px;
    }

    .hero-section {
        background-position: 81.49% 50%;
        min-height: 185vh;
    }

    .hero-section .hero-text {
        margin-top: 190px;
    }

    .hero-text h3 {
        font-size: 2.25rem;
    }

    .hero-text h1 {
        font-size: 3.625rem;
    }

    .hero-section .hero-icon {
        display: none;
    }

    .hero-section .hero-images, .hero-section hr {
        width: 87%;
    }

    .services-section {
        padding: 13px;
    }

    .help-section {
        padding: 23px;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    .quality-section .quality-img, .quality-section .quality-text {
        width: 100%;
        padding: 20px;
    }

    .quality-section .quality-img {
        width: 340px;
        height: 475px;
    }
    .quality-section .quality-text hr {
        width: 86%;
    }

    .quality-section .quality-text h2 {
        width: min-content;
    }

    .flex-column {
        flex-direction: column;
    }
    .render-section .render-imgs .working-two {
        width: 100%;
    }

    .about-us .about-imgs {
        flex-direction: column;
    }

    .about-us .about-imgs .about-img {
        width: 100%;
    }

    .about-us .about-text .changes {
        display: block;
        font-size: 3.75rem;
    }

    .about-us .about-text .changes b {
        display: contents;
    }
    
}

